body{
    background-color: #fbe5e5;
    font-family: "Nunito", sans-serif;
}
.blurb h3{
    color: #f31414;
    font-weight: 100;
    font-size: 2.5rem;
}
.blurb p{
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.content{
    margin-top: 50px ;
    margin-bottom: 50px;
}
#mainNavbar{
    font-weight: 100;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

#mainNavbar .nav-link{
 color: white;
}

#mainNavbar .nav-link:hover{
    color: #f31414;
   }

#mainNavbar .navbar-brand{
    color: #f31414;    
}

.img-fluid{
    width :auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#headingGroup span{
    color: #f31414;
}
#headingGroup h2{
   font-weight: 100;
   font-size: 4rem;
}
.navbar.scrolled{
    background-color: #db84db;
    transition: background 500ms;
}
@media (max-width:1200px){
    #headingGroup h2{
        font-weight: 100;
        font-size: 3rem;
     }
    
}